[Desktop Entry]
Name=Vampire - The Masquerade: Bloodlines
Exec=$VTMB/VTM\ -\ Bloodlines/start.sh
Icon=vtmb
Terminal=false
Type=Application
Categories=Game;
